# For use with pip
gradio
huggingface_hub
jupyterlab
keras
langchain
langchain-anthropic
langchain-huggingface
langchain-mistralai
langchain-ollama
langchain-openai
langgraph
matplotlib
numpy
pandas
pipdeptree
scikit-learn
scipy
seaborn
tensorflow
tf_keras
torch
transformers