# For use with pip
datasets
gradio
huggingface_hub
jupyterlab
keras
langchain
langchain-anthropic
langchain-huggingface
langchain-mistralai
langchain-ollama
langchain-openai
langgraph
matplotlib
numpy
pandas
pipdeptree
polars
scikit-learn
scipy
seaborn
tensorflow
tf_keras
torch
transformers