# For use with pip
datasets
gradio
huggingface_hub
jupyterlab
keras
langchain
langchain-anthropic
langchain-community
langchain-huggingface
langchain-mistralai
langchain-ollama
langchain-openai
langgraph
langgraph-cli[inmem]
matplotlib
numpy
pandas
pipdeptree
polars
scikit-learn
scipy
seaborn
tavily-python
tensorflow
tf_keras
torch
transformers
wikipedia